{#load the static template tags that are provided by the django.contrib.staticfiles#}
<!--
 Wbudowane tagi i filtry
 https://docs.djangoproject.com/en/2.0/ref/templates/builtins/
 -->

{#static oznacza zaladuje standardowe tagi i filtry z django.contrib.staticfiles#}

{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog. Opublikowano {% total_posts %}</p>
</div>
</body>
</html>